extends layout 

block content 
  h1 Create a new category 
  
  form(action="", method="post") 
    label(for="name") Category:  
    if category 
      input(type="text" required name='name' value= category.name)
    else
      input(type="text" required name='name' value='test')
    input(type="submit" value="Submit")

  if errors 
    ul
      each error in errors 
        li= error.msg
